@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/SourceCodePro-Light.eot');
  src: url('../assets/SourceCodePro-Light.eot?#iefix') format('embedded-opentype'),
  url('../assets/SourceCodePro-Light.woff') format('woff'),
  url('../assets/SourceCodePro-Light.ttf') format('truetype');
}
